{% extends "hlavicka-base.html" %}

{% block nadpis %}
{{ p.get_nazev_typu() }}{% if p.get_kod() %} {{ p.get_kod() }}:{% endif %} {{ p.get_nazev() }}
{% endblock nadpis %}

{% block data %}
<ul>
{% if p.get_typ() == 'uloha' %}<li>Počet bodů: ({{ p.get_body() }}b){% endif %}
<li>Stav: {{ p.get_stav() }}
<li>Veřejná stránka: {{ wikilink(p.get_verejne_pageid(), escape(p.get_verejne_pageid())) }}
<li>Vytvořena: {{ p.get_datum_vytvoreni().format('Y-m-d') }}
<li>Autor: {{ p.get_zadavatel() }}
<li>Opravuje: {{ p.get_opravovatel() |default('nikdo') }}
</ul>
{% endblock data %}


