{% extends "hlavicka-base.html" %}
{% import "makra.html" as makra %}
{% set r = c.get_rocnik() %}

{% block nadpis %}
{{ c.get_nazev() }}
{% endblock nadpis %}

{% block data %}
{{ makra.data_pole_rocnik('Ročník', r, true) }}
{{ makra.data_pole_datum('Datum vydání', c.get_datum_vydani(), true) }}
{{ makra.data_pole_datum('Termín odeslání řešení', c.get_datum_deadline(), true) }}
{% endblock data %}

{% block obsah %}
{{ makra.cislo_seznam_problemu('Zadání úloh', c.get_viditelna_zadani_uloh(je_org()), je_org()) }}
{{ makra.cislo_seznam_problemu('Řešení úloh', c.get_viditelna_reseni_uloh(je_org()), je_org()) }}
{{ makra.cislo_seznam_problemu('Témata pro ročník', r.get_viditelna_temata(je_org()), je_org()) }}
{{ makra.cislo_seznam_problemu('Články a seriály', c.get_viditelne_ostatni(je_org()), je_org()) }}
{% endblock obsah %}
